html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

body{
      background-color: #65b;
      background-image: url("../img/bg-desktop.svg");
      color: #FFF;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      margin: 0px auto;
      width: 90vw;
      text-align: center
  }
  
header{
    width: 100%;
    text-align: left;
    margin: 1% 0;
}

header img{
    width: 18vw;
    min-width: 150px;
}

.row{
  display: flex;
}

.column1{
  flex: 2;
}

.column2{
  flex: 1;
  padding:0px 10px;
  text-align: left;
}

h1{ 
  visibility: hidden;
}

#mockups{
  width: 98%;
  max-width: 600px;
  margin-right: 2%;
}
 

h2{
    font-family: 'Poppins', sans-serif;
    font-size:2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin:4% 0%;
    line-height : 150%;
}

p{
    font-weight: 400;
    font-size:1rem;
    margin-bottom:0.5%;
    line-height : 140%;
  
}

button { 
    cursor:pointer;
    margin: 7% auto;
    font-family: 'Open Sans', sans-serif;
}

#register {
    background-color: #fff;
    color: #65b;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    width: 40%;
    border:0px;
    border-radius: 500px;
    -moz-box-shadow:    0px 3px 5px 0px rgb(17, 17, 17);
    -webkit-box-shadow: 0px 3px 5px 0px rgb(17, 17, 17);
    box-shadow:         0px 3px 5px 0px rgb(17, 17, 17);
    padding:2% 9%;

}

.social_media_menu ul{
   display: flex;
   flex: row nowrap;
   justify-content: flex-end;
   padding-bottom: 2%;
}

.social_media_menu li a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 180%;
  width: 30%;
}

.social_media_menu li a i {
  color: white;
}

.attribution{
  font-size: 10px;
}
 
/* MEDIA QUERIES */

@media only screen and (max-width: 400px) {
  body {
    background-image: url("../img/bg-mobile.svg");
  }

  .row {
    flex-direction: column;
  }

  .column2{
    text-align: center;
  }

  h2{
    font-size:1.5rem;
}

p{
    font-size:0.8rem;
 
}

  .social_media_menu ul{
    justify-content: center;
 }

 .social_media_menu li a {
  font-size: 130%;
}

.attribution{
  font-size: 8px;
}

#register {
    font-size: 3vw;
    width: 50%;
}